<!DOCTYPE html>
<html >
<% include header %>
<body>
	<% include navbar %>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
            <h2> Advertiser <%= result[0].ad_addr %> at <%= result[0].updatetime %> seen by following aggregators
            </h2>
            <div>
            <form action="/aggregators" method="post">
             <input type="hidden" name="adv" value="<%= result[0].ad_addr %> ">
              <table border="2" width="35%"> <thead> <tr>
                          <th> Aggregator</th>
                          <th> RSSI </th>
                        </tr> </thead>
                            <% result.forEach(function(res) { %>
                        <tbody> <tr>
                        <td> <%= res.agg_addr %> </td>
                        <td> <%= res.rssi %> </td>
                            <% }); %>
                        </tr></tbody>
            </form>
	</div>
    </div>
</div>
	<div class="container">

		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass("active");
		});
	</script>
</body>
</html>

